* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-align: center;
	font-family: 'Anton', sans-serif;
	height: 100vh;
	margin: auto;
	background: rgb(17, 17, 17);
}
.App {
	width: 100%;
}

@media (min-width: 800px) {
	body {
		font-size: 1.3em;
	}
	.ncnews {
		font-size: 4em;
	}
}
a {
	color: inherit;
	text-decoration: none;
}
.err {
	color: white;
}

/* header */
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.mainHeader {
	margin: auto;
	background-color: hsl(0, 0%, 100%);
	width: 100%;
	max-width: 1000px;
	display: flex-box;
	text-align: center;
	border-bottom: 5px solid rgb(192, 2, 2);
	/* background-color: #71c9f8; */
}
.ncnews {
	font-size: 3em;
}
.header .links {
	display: inline-block;
}
.loginControl {
	float: left;
	padding-left: 1.5vw;
	padding-top: 1.5vw;
}
form {
	border-top: 20px solid rgb(192, 2, 2);
	padding: 2.5vh 0vh;
}

.ncnews {
	padding-top: 1.5vw;
}

/* body*/

.articlesListWrapper {
	display: inline;
}
.articlesListWrapper h3 {
	color: white;
}

.articlesListWrapper button {
	margin: 0.5vh;
}

.sortButtons {
	padding: 0.5vh;
	margin-right: 10px;
	display: inline-block;
}
.listDetails {
	font-weight: 900;
	color: white;
	font-size: 0.75em;
	display: inline-block;
}
.listContainer {
	colour: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.listedArticle {
	border-radius: 0.5vh;
	border-top: 15px solid rgb(192, 2, 2);
	display: inline-block;
	margin: 3vh 4vw;
	width: 90%;
	max-width: 500px;
	background-color: hsl(0, 0%, 100%);
}
.listedArticleTitle {
	font-size: 1.5em;
	letter-spacing: 1px;
	width: 100%;
	float: left;
	padding: 2vw;
	text-align: left;
	font-family: 'Anton', sans-serif;
}
.listedArticle hr {
	width: 75%;
}

.listedArticle .votes {
	float: right;
	padding-right: 0.5vh;
}

.listedArticle .author,
.listedArticle .date,
.listedArticle .topic {
	padding: 0.5vh;
}
.listedArticle .links {
	float: left;
	text-align: left;
}

/* article page */
.article {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	align-content: center;
}

.article .title {
	padding: 4vh;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-top: 4vh;
	font-weight: bold;
	font-size: 2em;
	border-top: 15px solid rgb(192, 2, 2);
	background-color: white;
}
.article .detail {
	color: black;
	text-align: left;
	border-top: black 2px solid;
	padding-top: 1vh;
	padding-bottom: 5vh;
}
.article .body {
	padding: 5vh 20vw;
	width: 100%;
	max-width: 1000px;

	border-top: 15px solid rgb(192, 2, 2);
	background-color: white;
}
.articleVoteButtons {
	background: white;
	padding-bottom: 1vh;
}
.article .detail {
	padding-left: 2vw;
	color: white;
}

/* PROFILE */

.profileWrapper {
	color: white;
}

.commentDiv {
	border-top: 15px solid rgb(192, 2, 2);
	max-width: 1000px;
	margin: auto;
	padding: 1vw;
	background: white;
}
.listContainer {
	color: black;
}

.addCommentParentDiv form {
	border: 0px;
	padding: 10px;
	border-bottom: 10px solid rgb(192, 2, 2);
}
.addCommentForm {
	width: 60%;
	height: 60px;
}
/* Comments */

.commentBody {
	margin-top: 1.5vh;
	padding: 1vh;
	border: 2px black solid;
}

/* TOPCICS */

.topics h2 {
	color: white;
}

.topicBody {
	color: white;
}
.topicCard {
	color: black;
	border-radius: 0.5vh;
	border-top: 15px solid rgb(192, 2, 2);
	display: inline-block;
	margin: 3vh 4vw;
	width: 90%;
	max-width: 500px;
	background-color: hsl(0, 0%, 100%);
}
.topicTitle {
	font-size: 1.5em;
	letter-spacing: 1px;
	width: 100%;
	float: left;
	padding: 2vw;
	text-align: left;
	font-family: 'Anton', sans-serif;
}
.topicLinks {
	padding: 1.5vh;
	font-size: 1em;
}

/* Error */

.error {
	color: white;
}
